[Desktop Entry]
Name=Plaque Size Tool
Comment=Count and size plaques
Icon=/usr/share/pixmaps/openbox.xpm
Exec=lxterminal -e "/usr/bin/python3 /home/pi/github/plaque_size_tool/gui.py -i recent.jpg -small -p 100"
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
X-keepTerminal=true